html{
    font-family: Helvetica, sans-serif;
}

.blue-button {
    margin: 2px;
    margin-bottom: 20px;
    padding: 6px 8px;
    border-radius: 6px;
    background: #3E49AD;
    color: #fff;
    border: none;
    cursor: pointer;
}

.blue-button:hover {
    background: #0f1655;
}

.yellow-button {
    margin: 2px;
    margin-bottom: 20px;
    padding: 6px 8px;
    border-radius: 6px;
    background: #f5c518;
    color: black;
    border: none;
    cursor: pointer;
}

.yellow-button:hover {
    background: #92750b;
    color: white;
}

#uiOverlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 360px;
    max-width: calc(100% - 40px);
    background: linear-gradient(295deg,rgba(110, 88, 10, 1) 0%, rgba(245, 197, 24, 1) 100%);
    color: #000;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 999999;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 1.3;
}

#roundTimer {
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0;
    display: none;
    text-align: left;
    width: 100%;
}

#winnerbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(295deg, rgba(62, 73, 173, 1) 0%, rgba(90, 101, 196, 1) 100%);
    color: #f5c518;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    box-sizing: border-box;
}

#winnerText {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 8px
}

#leaderboardList { 
    font-size: 0.8em;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 90%;
    margin: 0 auto;
}
